<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('../layout/navbar.ejs'); %>

    <div class="link-container">
        <nav class="navbar navbar-light bg-light" style="border: solid; border-radius: 20px;">
          <div class="container-fluid">
            <a class="navbar-brand" href="ttd">
              Things To Do &nbsp &nbsp
              <img src="image/icon/explore.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
          </div>
        </nav>
        <nav class="navbar navbar-light bg-light" style="border: solid; border-radius: 20px;">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              Things To Eat &nbsp &nbsp
              <img src="image/icon/restaurant.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
          </div>
        </nav>
      </div>

      <div class="search-bar">
        <img src="image/background/indonesia.svg" class="img-fluid" alt="...">
        <form class="d-flex" method="post" action="/search">
          <input name="search" class="form-control me-2" type="search" placeholder="Where To" aria-label="Search" style="width: 500px; text-align: center;">
        </form>
      </div>

      <div class="main-island">
        <div class="header" style="margin-bottom: 30px; margin-top: 10px; margin-left: 4.6%; font-weight: bold; size: 20px;">
          <h1>Main Island</h1>
        </div>
        <div class="body">
          <div class="text">
            <h3 style="text-align: center; font-size: 150%;">
              The five biggest island <br>
              in Indonesia
            </h3>
          </div>
          <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin-bottom: 60px;" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="cards3">
                    <div class="card" >
                      <a href="kalimantan">
                        <img src="http://localhost:3000/image/pulau%20gede/jawa.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kalimantan</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="sulawesi">
                        <img src="/image/pulau gede/sulawesi.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sulawesi</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="jawa">
                        <img src="/image/pulau gede/jawa.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Jawa</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="cards3">
                    <div class="card">
                      <a href="sulawesi">
                        <img src="/image/pulau gede/sulawesi.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sulawesi</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="jawa">
                        <img src="/image/pulau gede/jawa.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Jawa</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="sumatera">
                        <img src="/image/pulau gede/sumatera.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sumatera</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="cards3">
                    <div class="card">
                      <a href="jawa">
                        <img src="/image/pulau gede/jawa.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Jawa</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="sumatera">
                        <img src="/image/pulau gede/sumatera.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sumatera</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="papua">
                        <img src="/image/pulau gede/papua.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Papua</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="cards3">
                    <div class="card">
                      <a href="sumatera">
                        <img src="/image/pulau gede/sumatera.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sumatera</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="papua">
                        <img src="/image/pulau gede/papua.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Papua</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card" >
                      <a href="kalimantan">
                        <img src="/image/pulau gede/kalimantan.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kalimantan</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="cards3">
                    <div class="card">
                      <a href="papua">
                        <img src="/image/pulau gede/papua.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Papua</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card" >
                      <a href="kalimantan">
                        <img src="/image/pulau gede/kalimantan.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kalimantan</h5>
                        </div>
                      </a>
                    </div>
                    <div class="card">
                      <a href="sulawesi">
                        <img src="/image/pulau gede/sulawesi.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sulawesi</h5>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>



      <div class="moretoexplore" style="background-color:rgb(248, 243, 236); margin-top: 10px; display: flex; flex-direction: column; padding-top: 4%;">
        <div class="header" style="margin-left: 5%; margin-bottom: 2%;">
          <h3 style="float: left; font-size: 27x;">More to explore</h3>
        </div>
        <div class="body">
          <% articles.forEach((article) => { %>
            <div class="card" style="height: 24rem;">
              <a href="<%= article.link %>">
                <img src="<%= article.imagePath %>" class="card-img-top" alt="...">
              </a>
              <div class="card-body" style="text-align: center">
                <a href="<%= article.link %>" style="color: black; text-decoration: none;">
                  <div class="title" style="margin-top: 5%; margin-bottom: 15px;">
                    <h6><%= article.sumber %></h6>
                  </div>
                  <p class="card-text" style="font-weight: 500; font-size: 1.1em;"><%= article.title %></p>
                </a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>


      <div class="sponsor">
        <div class="header" style="text-align: center;">
          <div class="line2" style="margin-top: 6%;">
            <h5 style="background-color: black; color: white; width: 20%; margin: auto; padding: 10px; font-size: 15px;">Sponsored by <br> 
              Universitas Tarumanagara</h5>
          </div>
        </div>

        <div class="body" style="width: 80%; position: relative; margin-right: auto; margin-left: auto; margin-bottom: 50px;">
          <div class="pic" style="display: flex; align-items: center;">
            <img src="/image/logo/Logo UNTAR Universitas Tarumanegara.png" class="d-block mx-auto" alt="..." style="width: 60%;">
          </div>

        </div>
      </div>

    <%- include('../layout/footer.ejs'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>